/* html{
    background-color: honeydew;
} */

body {
    background-color: floralwhite;
}

nav{
    background-color: floralwhite;
    border-bottom: 2px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    z-index: 10;
}

nav:hover{
    background-color: hotpink;
    color: floralwhite;
}

.nav-menu{
    display: flex;
    position: absolute;
    list-style: none;
    right: 1rem;

}

.option{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 1rem;
}

.option:hover{
    border-bottom: 2px solid black;
    color: black;
    cursor: crosshair;
}

.main-container{
    margin: 3rem 0 0 0;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alter{
    margin: 2rem;
    padding: 2rem;
    width: auto;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
}

.about{
    
    width: 60vw;
}

h1:hover{
    color: hotpink;
    cursor: default;
}

.choice{
    padding: 2px;
    margin: 2px;
    box-sizing: border-box;
}

.choice:hover{
    background-color: aquamarine;
    cursor: crosshair;
    /* border-bottom: 2px solid black;
    box-sizing: border-box; */
}

button{
    padding: 0.5rem;
    margin: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    outline: none;
    border: none;
}

button:hover{
    filter: invert(1);
    text-decoration: underline;
    outline: none;
    border: none;
}

#cloud{
   background-color: skyblue;
   color: whitesmoke; 
}

#leaf{
    background-color: greenyellow;
    color: darkmagenta;
}




