/* A RULE FOR THIS PROGRAM IS THAT ALL COLORS MUST BE CSS-NAME-DESIGNATED COLORS! NO RGB OR HEX! :D */

body {
    background-color: floralwhite;
}

nav{
    background-color: floralwhite;
    border-bottom: 2px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    z-index: 10;
}

nav:hover{
    background-color: fuchsia;
    color: floralwhite;
}

.nav-menu{
    display: flex;
    position: absolute;
    list-style: none;
    right: 1rem;
}

.option{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 1rem;
}

.option:hover{
    border-bottom: 2px solid black;
    color: black;
    cursor: crosshair;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    cursor: crosshair;
}

.main-container{
    margin: 3rem 0 0 0;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alter{
    margin: 2rem;
    padding: 2rem;
    width: auto;
    height: auto;
    min-height: 10rem;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.about{
    width: 60vw;
}

.welcome{
    width: auto;
}

h1:hover{
    color: mediumblue;
    cursor: default;
}

.choice{
    padding: 2px;
    margin: 2px;
    box-sizing: border-box;
}

.choice:hover{
    background-color: aquamarine;
    cursor: crosshair;
    /* border-bottom: 2px solid black;
    box-sizing: border-box; */
}

button{
    padding: 0.5rem;
    margin: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    outline: none;
    border: none;
    transition: filter 1s;
}

button:hover{
    filter: invert(1);
    text-decoration: underline;
    outline: none;
    border: none;
    cursor: crosshair;

}

/* ------------------------ various button colors: ------------------------- */

#cloud{
    background-color: skyblue;
    color: whitesmoke; 
}
    
#tree{
    background-color: greenyellow;
    color: darkmagenta;
}
#silk{
    background-color: goldenrod;
    color: purple;
}
#waves{
    background-color: silver;
    color: palevioletred;
}
#low{
    background-color: navy;
    color: silver;
}
#high{
    background-color: tomato;
    color: cornsilk;
}
#raindrop{
    background-color: silver;
    color: mediumblue;
}
#fireworks{
    background-color: hotpink;
    color: greenyellow;
}
#know{
    background-color: lemonchiffon;
    color: lightcoral;
}
#where{
    background-color: lightblue;
    color: midnightblue;
}
#heaps{
    background-color: rebeccapurple;
    color: antiquewhite;
}
#rays{
    background-color: black;
    color:mediumslateblue;
}
#substance{
    background-color: azure;
    color: gray;
}
#shadows{
    background-color: slategray;
    color: darkblue;
}
#absence{
    background-color: steelblue;
    color: white;
}
#slender{
    background-color: firebrick;
    color:lightgreen;
}
#saturn{
    background-color: goldenrod;
    color: darkslategray;
}
#moon{
    background-color: whitesmoke;
    color: slategrey;
}
#oyster{
    background-color: lightcoral;
    color: white;
}
#pearl{
    background-color: wheat;
    color: white;
}
#scramble{
    background-color: orchid;
    color: blue;
}
#read{
    background-color: ghostwhite;
    color: goldenrod;
}
#letGo{
    background-color: blanchedalmond;
    color: gray;
}



/* ------------------------------ a few fixed things -------------------------------*/

/* main poem function */

.btn-container{
    display: flex;
    justify-content: center;
    width: auto;
}

.alt-line{
    opacity: 0;
}

.alt-line:hover{
    filter: invert(1)
}

/* generative poem */
#submit-btn{
    background-color: tomato;
    color: black;
}

.word-result{
    background-color: plum;
    color: black;
}

#print-gen-btn{
    background-color: aquamarine;
    color: black;
}

.home-btn{
    margin: 2rem;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    transition: filter 1s;
}

.home-btn:hover{
    filter: invert(1);
}

/* recursive */
#start-rec{
    background-color: gold;
}

.recursive-line{
    padding: 0.5rem;

}

.recursive-line:hover{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: hotpink;
}

#next{
    background-color: turquoise;
    opacity: 0;
}

#read-rec-poem{
    background-color: mediumspringgreen;
    color: pink;
}

/* screen */
.screen{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: floralwhite;
    opacity: 0;
    transition: opacity 1s;
    z-index: -1;
}









